* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

body {
    background-color: whitesmoke;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    vertical-align: center;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.radio-buttons > input {
    margin: 0;
}
.action-buttons {
    padding-top: 50px;
}
.action-buttons > button {
    width: 65px;
    height: 45px;
    border-radius: 5%;
    margin: 10px;
}

#tempInput {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    align-content: center;
    padding: 2px;
    width: 250px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px black solid;
}
#tempOutput {
    display: flex;
    align-content: center;
    text-align: center;
}

.output-temp {
    width: 250px;
    height: 40px;
    border: 2px black solid;
    background-color: white;
    text-align: center;
    align-content: center;
}

#outputValue {
    text-align: center;
    align-items: stretch;
}

.tempConverterForm, .tempResults {
    margin-top: 40px;
}

.freezing {
    color: blue;
}

.hot {
    color: red;
}

.temperate {
    color: green;
}